div.item {
    height:240px;
    width:100%;
    font-color:white;
    padding-top:20px;
}

div.item h2 p {
    font-color:white;
}
.orange {
    background-color:#A6540D;
}

.green {
    background-color:#275C36;
}

.purple {
    background-color:#4C3F99;
}

.blue {
    background-color:#005694;
}

.font-white {
    font-color:white;
}

.pane {
    width:75%;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    color:white;
}